.flex{
    display: flex;
    &.vertical-center{
        align-items: center;
    }
    &.wrap{
        flex-wrap: wrap;
    }
    &.justify-between{
        justify-content: space-between;
    }
}

.grid{
    display: flex;
    display: grid;

    &.three-column{
        grid-template-columns: repeat( 3, 1fr );
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }
}


.avatar{
    display: inline-block;
    font-size: 1.5em;
    img{
        display: block;
        width: 1em;
        height: 1em;
    }
}
